.send-button {
    background: linear-gradient(135deg, #5b69f6, #2f3ced);
    border: white;
    border-radius: 36px;
    height: 45px;
    width: 72px;
    margin-left: 5px;
    padding: 12px 20px;
    color: white;
    font-size: 15px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.send-button:hover{
    opacity: 0.8;
}

.send-button:active {
    background: linear-gradient(135deg, #5b69f6, #2f3ced);
}

.message-input {
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    flex-grow: 1;
}


.message-input-container {
    display: flex;
    padding: 16px;
}
