.room-sidebar {
    width: 240px;
    background-color: #2b2d31;
    padding: 20px 16px;
    display: flex;
    height: 100%;
    flex-direction: column;
    border-right: 1px solid #1e1f22;
    box-sizing: border-box;
    box-shadow: 2px 0 6px rgba(0,0,0,0.25);
}

.room-input {
    border-color: transparent;
    border-width: 1px;
    border-bottom-color: #4a4d53;
    background-color: transparent;
    height: 30px;
    margin-bottom: 10px;
    color: #b5bac1;
    cursor: pointer;
}

.room-input:focus {
    border-bottom-color: white;
}

.sidebar-heading {
    font-family: Arial, serif;
    color: white;
    /*text-align: center;*/
}

.join-button{
    height: 30px;
    color: white;
    background: linear-gradient(135deg, #5b69f6, #2f3ced);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.joined-rooms{
    color: white;
    font-family: Arial, serif;
    font-size: 10px;
}

.join-button:hover{
    opacity: 0.8;
}

.room-item {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
}

.room-item:hover{
    opacity: .8;
}


.active-room {
    font-weight: bold;
}

.logout-button {
    margin-top: auto;
    font-weight: bold;
    border: none;
    height: 30px;
    border-radius: 8px;
    background: linear-gradient(135deg, #f65b5b, #ed2f2f);
    cursor: pointer;
}

.logout-button:hover{
    opacity: .8;
}

.create-room-button {
    margin-top: 10px;
    height: 30px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #5b69f6, #2f3ced);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.create-room-button:hover{
    opacity: 0.8;
}
